@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .align-element {
    @apply mx-auto max-w-6xl;
  }
}

.crt-wr a {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 200ms;
  border: 2px solid;
  border-radius: var(--rounded-btn, 0.5rem);
  height: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  min-height: 3rem;
  font-size: 0.875rem;
  line-height: 1em;
  gap: 0.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration-line: none;
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  text-transform: var(--btn-text-case, uppercase);
}

button {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 200ms;
  border: 2px solid;
  border-radius: var(--rounded-btn, 0.5rem);
  height: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  min-height: 3rem;
  font-size: 0.875rem;
  line-height: 1em;
  gap: 0.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration-line: none;
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  text-transform: var(--btn-text-case, uppercase);
}
